{% extends "layaout.twig" %}

{% block content %}
    <h1>Add Project</h1>
    <div class="alert alert-primary" role="alert">
        {{ responseMessage }}
    </div>
    <form action="/projects/add" method="post" enctype="multipart/form-data">
        <label for="title">Title:
            <input type="text" name="title">
        </label><br>
        Description:<br>
        <textarea name="description" cols="30" rows="5"></textarea><br>
        <input type="file" name="logo"><br>
        <input type="submit" value="Add Project">
    </form>
    <br><br>
    <a href="/CURSO-INTRODUCCION-PHP/">Previous</a>
{% endblock %}