{% extends "layaout.twig" %}

{% block content %}
    <h1>Add User</h1>
    <div class="alert alert-primary" role="alert">
        {{ responseMessage }}
    </div>
    <form action="/users/add" method="post">
        <label for="email">Email:
            <input type="email" name="email">
        </label><br>
        <label for="password">Password:
            <input type="password" name="password">
        </label><br>
        <input type="submit" value="Add User">
    </form>
    <br><br>
    <a href="/">Previous</a>
{% endblock %}